<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Learn Home</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/courses" [queryParams]="{page: 1}">Courses</a></li>
      <li routerLinkActive="active"><a routerLink="['/course/:id']">Course Detail</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
